@{
    ViewData["Title"] = "Index";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Plaswijzer Gent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="https://lab9k.github.io">Lab9K</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://stad.gent">City </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/lab9k/plaswijzer">Source </a>
                    </li>
                    <!-- add link to facebook page -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://stad.gent">Facebook </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Find your toilet</h1>
                <p>
                    Find to toilet that is closet located to you without downloading a special application, all you need is a facebook account. <br>
                    You have three search options, Free, Wheelchair and Dog toilet
                </p>
                <!-- add link to facebook page -->
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Find it »</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Free</h2>
                    <p>Who want to pay for a toilet? Noone ofcourse so we give the user to search for a free toilet note that free toilets are free for everyone </p>
                </div>
                <div class="col-md-4">
                    <h2>Wheelchair</h2>
                    <p>You might not be able to visit every toilet and we have enabled the search option wheelchair for you.</p>
                </div>
                <div class="col-md-4">
                    <h2>Dog toilet</h2>
                    <p>You dog need a space to and we want a clean city so why no dogs toilet in the app</p>
                </div>
            </div>

            <hr>

            <footer>
                <p><a href="https://www.digipolis.be" style="text-decoration: none">© Digipolis</a></p>
            </footer>
        </div>
    </body>
   
</html>
